.chart__photo-container {
  margin: auto 6.365% auto 0;
  width: calc(100vh * 0.10639);
}

.chart__photo-container::after {
  content: '';
  display: block;
  padding-top: 100%;
}

@media screen and (orientation: portrait) {
  .chart__photo-container {
    margin: auto 4.27% auto 0;
    width: calc(100vh * 0.0599);
  }
}
