.leaders__number {
  display: inline-block;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 76px;
  line-height: 78px;
  color: var(--main-text-color);
  text-align: center;
  margin: var(--number-margin, 15% auto 15%);
  padding-top: var(--number-padding, 0);
  border-top: var(--number-border);
  width: 56.2%;
}

@media screen and (orientation: portrait) and (max-width : 1600px), screen and (orientation: landscape) and (max-width : 1680px) {
  .leaders__number {
    font-size: 66px;
    line-height: 68px;
  }
}

@media screen and (orientation: portrait) and (max-width : 1152px), screen and (orientation: landscape) and (max-width : 1440px) {
  .leaders__number {
    font-size: 48px;
    line-height: 50px;
  }
}

@media screen and (orientation: portrait) and (max-width : 540px), screen and (orientation: landscape) and (max-width : 1152px) {
  .leaders__number {
    font-size: 30px;
    line-height: 32px;
  }
}
