.theme_light {
  background: #fff;
  --main-text-color: #261c00;
  --secondary-text-color: #bfbfbf;
  --border-color: rgba(191, 191, 191, .3);
  --photo-grayscale: none;
  --background-gold: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
  --box-shadow-gold: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);

  --leaders-base-background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
  --leaders-base-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);

  --vote-button-url: url(../../../images/button-light.svg);
  --vote-disabled-button-url: url(../../../images/button-hover-light.svg);
  --vote-hover-background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
  --vote-hover-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);

  --chart-column-background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
  --chart-column-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);
  --chart-background-cold: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
  --chart-shadow-cold: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);

  --diagram-gradient-gold: url(#light-gold);
  --diagram-gradient-gold-low: url(#light-gold-low);
  --diagram-gradient-grey-light: url(#light-grey-light);
  --diagram-gradient-grey-dark: url(#light-grey-dark);
  --diagram-list-gold: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.56) 81.25%, rgba(255, 239, 153, 0.32) 100%);
  --diagram-list-gold-low: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.24) 81.25%, rgba(255, 239, 153, 0.12) 100%);
  --diagram-list-grey-light: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(166, 166, 166, 0.1725) 82.81%, rgba(203, 203, 203, 0.05) 92.19%);
  --diagram-list-grey-dark: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(191, 191, 191, 0.345) 82.81%, rgba(228, 228, 228, 0.1) 92.19%);
  --diagram-list-shadow-gold: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.9);
  --diagram-list-shadow-gold-low: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
  --diagram-list-shadow-grey-light: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(105, 105, 105, 0.2);
  --diagram-list-shadow-grey-dark: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(131, 131, 131, 0.6);

  --activity-cube-extra: url(../../../images/extra-light.png);
  --activity-cube-max: url(../../../images/max-light.png);
  --activity-cube-mid: url(../../../images/mid-light.png);
  --activity-cube-min: url(../../../images/min-light.png);
  --activity-ingot-gold: radial-gradient(66.02% 86.49% at -16.18% 13.51%, rgba(255, 186, 6, 0.85) 0%, #FFF2AD 100%);
  --activity-ingot-gold-low: radial-gradient(68.1% 68.1% at 4.41% 31.9%, #FFF6DD 8.72%, #FFFEFA 100%);
  --activity-ingot-grey-light: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(250, 250, 250, 0.8) 0%, rgba(250, 250, 250, 0.8) 100%);
  --activity-ingot-grey-dark: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(250, 250, 250, 0.6) 0%, rgba(250, 250, 250, 0.6) 100%);
  --activity-ingot-shadow-gold: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
  --activity-ingot-shadow-gold-low: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
  --activity-ingot-shadow-grey-light: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.3);
  --activity-ingot-shadow-grey-dark: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.2);
  --activity-time-gap-color: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  --activity-time-gap-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(103, 103, 103, 0.2);
}
