.chart__person {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-left: 3.37%;
  margin-right: 3.37%;
  border-left: 2px solid var(--border-color);
}

.chart__person:first-of-type {
  padding: 0;
  border: none;
}

.chart__person:last-of-type {
  margin: 0;
}

@media screen and (orientation: portrait) {
  .chart__person {
    width: 100%;
    height: calc(100vh * 0.0599);
    border-left: none;
  }

  .chart__person:first-of-type {
    margin: 0;
    padding: 0 0 calc(100vh * 0.02395);
    border-bottom: 2px solid var(--border-color);
  }

  .chart__person:last-of-type {
    margin: calc(100vh * 0.02395) 0 0 0;
    padding: 0;
  }

}
