.chart__person-results {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: calc(100vh * 0.032);
  line-height: calc(100vh * 0.035);
  text-align: start;
  color: var(--secondary-text-color);
  margin: 0;
}

@media screen and (orientation: landscape) and (max-width : 960px) {
  .chart__person-results {
    font-size: calc(100vh * 0.037234);
    line-height: calc(100vh * 0.042553);
  }
}


@media screen and (orientation: portrait) {
  .chart__person-results {
    font-size: calc(100vh * 0.020958);
    line-height: calc(100vh * 0.023955);
  }
}
