@import url(./__emoji/person__emoji.css);
@import url(./__photo-container/person__photo-container.css);
@import url(./__photo/person__photo.css);
@import url(./__name/person__name.css);
@import url(./__results/person__results.css);

.person {
  display: var(--choice, var(--small-column-display, flex));
  flex-direction: column;
  margin: var(--person-large-margin, 0);
  width: 100%;
  position: relative;
  padding-bottom: var(--choice-person-padding, 15.39%);
}
