.activity__map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 7.53%;
  list-style: none;
  padding: 0;
  height: calc(100vh * 0.298);
}

@media screen and (orientation: portrait) {
  .activity__map {
    flex-direction: row;
    margin: auto 0;
    padding: 0;
    height: calc(100vh * 0.64123);
  }
}
