.vote__card_selected {
  border-radius: 6px;
  background: var(--background-gold);
  box-shadow: var(--box-shadow-gold);
}

.vote__card_selected::after {
  content: '👍';
  position: absolute;
  top: -4.5%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  font-size: 78px;
  line-height: 80px;
}

@media screen and (orientation: portrait) and (max-width : 1600px), screen and (orientation: landscape) and (max-width : 1680px) {
  .vote__card_selected::after {
    font-size: 66px;
    line-height: 68px;
  }
}

@media screen and (orientation: portrait) and (max-width : 1152px), screen and (orientation: landscape) and (max-width : 1440px) {
  .vote__card_selected::after {
    font-size: 48px;
    line-height: 50px;
  }
}

@media screen and (orientation: portrait) and (max-width : 540px), screen and (orientation: landscape) and (max-width : 1152px) {
  .vote__card_selected::after {
    font-size: 30px;
    line-height: 32px;
  }
}
