.chart__person-name {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(100vh * 0.0415);
  line-height: calc(100vh * 0.04);
  text-align: start;
  color: var(--main-text-color);
  margin: 0 0 3.24%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (orientation: landscape) and (max-width : 960px) {
  .chart__person-name {
    font-size: calc(100vh * 0.042554);
    line-height: calc(100vh * 0.04788);
  }
}

@media screen and (orientation: portrait) {
  .chart__person-name {
    font-size: calc(100vh * 0.023952);
    line-height: calc(100vh * 0.02695);
  }
}
