.stories__title {
  color: var(--main-text-color);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 2.996% 7.785% 1.198%;
  text-align: center;
  font-size: calc(100vh * 0.0798);
  line-height: calc(100vh * 0.0852);
}

@media screen and (orientation: portrait) {
  .stories__title {
    text-align: left;
    font-size: calc(100vh * 0.0449);
    line-height: calc(100vh * 0.048);
    margin: calc(100vh * 0.02994) 13.83% calc(100vh * 0.011976) 6.385%;
  }
}

@media screen and (orientation: landscape) and (max-width : 568px) {
  .stories__title {
    margin: 2% 7.78% 1.2%;
    font-size: 22px;
    line-height: 26px;
  }
}
