.leaders__column_large {
  --base-height: 43.2%;
  --base-z-index: 4;
  --large-padding: 0;
  --leaders-base-background: var(--background-gold);
  --leaders-base-shadow: var(--box-shadow-gold);
  --person-large-margin: 0 7.69%;
}

@media screen and (orientation: portrait) {
  .leaders__column_large {
    --base-height: 65.1%;
  }
}


