.leaders__column_large {
  --base-z-index: 4;
  --large-padding: 0;
  --leaders-base-background: var(--background-gold);
  --leaders-base-shadow: var(--box-shadow-gold);
  --person-large-margin: 0 7.7%;
}
